In [14]:
import pandas as pd
df = pd.read_csv('Traffic_Crashes_Vehicles.csv')
df.head()     # Muestra las primeras 5 filas
df.shape      # Muestra cuántas filas y columnas tiene
df.info()     # Da información sobre los tipos de datos y valores nulos

C:\Users\gabon\AppData\Local\Temp\ipykernel_46320\2090333983.py:2: DtypeWarning: Columns (3,18,20,38,39,40,41,43,47,48,49,52,54,57,58,60,64,70) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Traffic_Crashes_Vehicles.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2034748 entries, 0 to 2034747
Data columns (total 71 columns):
 #   Column                    Dtype
---  ------                    -----
 0   CRASH_UNIT_ID             int64
 1   CRASH_RECORD_ID           object
 2   CRASH_DATE                object
 3   UNIT_NO                   object
 4   UNIT_TYPE                 object
 5   NUM_PASSENGERS            float64
 6   VEHICLE_ID                float64
 7   CMRC_VEH_I                object
 8   MAKE                      object
 9   MODEL                     object
 10  LIC_PLATE_STATE           object
 11  VEHICLE_YEAR              float64
 12  VEHICLE_DEFECT            object
 13  VEHICLE_TYPE              object
 14  VEHICLE_USE               object
 15  TRAVEL_DIRECTION          object
 16  MANEUVER                  object
 17  TOWED_I                   object
 18  FIRE_I                    object
 19  OCCUPANT_CNT              float64
 20  EXCEED_SPEED_LIMIT_I      object
 21  TOWED_BY                  object
 22  TOWED_TO                  object
 23  AREA_00_I                 object
 24  AREA_01_I                 object
 25  AREA_02_I                 object
 26  AREA_03_I                 object
 27  AREA_04_I                 object
 28  AREA_05_I                 object
 29  AREA_06_I                 object
 30  AREA_07_I                 object
 31  AREA_08_I                 object
 32  AREA_09_I                 object
 33  AREA_10_I                 object
 34  AREA_11_I                 object
 35  AREA_12_I                 object
 36  AREA_99_I                 object
 37  FIRST_CONTACT_POINT       object
 38  CMV_ID                    object
 39  USDOT_NO                  object
 40  CCMC_NO                   object
 41  ILCC_NO                   object
 42  COMMERCIAL_SRC            object
 43  GVWR                      object
 44  CARRIER_NAME              object
 45  CARRIER_STATE             object
 46  CARRIER_CITY              object
 47  HAZMAT_PLACARDS_I         object
 48  HAZMAT_NAME               object
 49  UN_NO                     object
 50  HAZMAT_PRESENT_I          object
 51  HAZMAT_REPORT_I           object
 52  HAZMAT_REPORT_NO          object
 53  MCS_REPORT_I              object
 54  MCS_REPORT_NO             object
 55  HAZMAT_VIO_CAUSE_CRASH_I  object
 56  MCS_VIO_CAUSE_CRASH_I     object
 57  IDOT_PERMIT_NO            object
 58  WIDE_LOAD_I               object
 59  TRAILER1_WIDTH            object
 60  TRAILER2_WIDTH            object
 61  TRAILER1_LENGTH           float64
 62  TRAILER2_LENGTH           float64
 63  TOTAL_VEHICLE_LENGTH      float64
 64  AXLE_CNT                  object
 65  VEHICLE_CONFIG            object
 66  CARGO_BODY_TYPE           object
 67  LOAD_TYPE                 object
 68  HAZMAT_OUT_OF_SERVICE_I   object
 69  MCS_OUT_OF_SERVICE_I      object
 70  HAZMAT_CLASS              object
dtypes: float64(7), int64(1), object(63)
memory usage: 1.1+ GB

In [15]:
df.head(20)

,CRASH_UNIT_ID,CRASH_RECORD_ID,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,MODEL,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,2179723,62c4e58eb2cdf2c7c0d8693b02e2e65a5369f227d75997...,10/30/2025 01:07:00 AM,1,DRIVER,2.0,2077774.0,NaN,JEEP,PATRIOT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2179719,6da1bcd91641838b96db4ce7d075137a4d215e06452fee...,10/30/2025 12:20:00 AM,1,DRIVER,NaN,2077769.0,NaN,HONDA,ACCORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2179720,6da1bcd91641838b96db4ce7d075137a4d215e06452fee...,10/30/2025 12:20:00 AM,2,DRIVER,NaN,2077772.0,N,TOYOTA,CAMRY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2179724,e7d969ad79f62838ae1fdaf3d0866a6227966a68cce8be...,10/30/2025 12:17:00 AM,1,DRIVER,NaN,2077773.0,NaN,FORD,MUSTANG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2179721,b527e7fb7a13977cfa4de8f0264effc6646d89f3811878...,10/29/2025 11:38:00 PM,1,DRIVER,1.0,2077770.0,NaN,FORD,EXPLORER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2179722,b527e7fb7a13977cfa4de8f0264effc6646d89f3811878...,10/29/2025 11:38:00 PM,2,DRIVER,1.0,2077771.0,NaN,TOYOTA,HIGHLANDER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2179717,ddca8ac22fab1f666a729a563261ecf62a4579d0b50e0c...,10/29/2025 11:36:00 PM,1,DRIVERLESS,NaN,2077767.0,NaN,HONDA,CIVIC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2179718,ddca8ac22fab1f666a729a563261ecf62a4579d0b50e0c...,10/29/2025 11:36:00 PM,2,PARKED,NaN,2077768.0,NaN,BMW,X3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2179727,b25647c9e287b07a2a3fda8c8b9a7e3bd405d8698d0f07...,10/29/2025 11:28:00 PM,1,DRIVER,NaN,2077782.0,NaN,UNKNOWN,OTHER (EXPLAIN IN NARRATIVE),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2179728,b25647c9e287b07a2a3fda8c8b9a7e3bd405d8698d0f07...,10/29/2025 11:28:00 PM,2,DRIVER,NaN,2077779.0,NaN,JEEP,COMPASS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2179712,750bc32d4ad93cd7e5c7aab90d1a156d246271d129646d...,10/29/2025 11:18:00 PM,1,DRIVER,NaN,2077761.0,N,"PETERBILT MOTORS COMPANY (DIVISION OF PACCAR, ...","PETERBILT MOTORS CO., DIVISION PACCAR, INC.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2179706,440bc31b28f94daa09a2df1ad39cbbc37b30142b465c6a...,10/29/2025 11:07:00 PM,1,DRIVERLESS,NaN,2077753.0,NaN,JEEP,COMPASS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2179725,0bc8f39a5677ff6531f43228483e1c53e6ad712d823f66...,10/29/2025 10:37:00 PM,1,DRIVER,NaN,2077775.0,NaN,AUDI,Q5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2179726,0bc8f39a5677ff6531f43228483e1c53e6ad712d823f66...,10/29/2025 10:37:00 PM,2,DRIVER,NaN,2077776.0,NaN,NISSAN,200 SX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2179700,bde3eb8ddefb7fa6194fef72ee7f83131313f267b93bc9...,10/29/2025 10:30:00 PM,1,DRIVER,NaN,2077749.0,NaN,FORD,ESCAPE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2179701,bde3eb8ddefb7fa6194fef72ee7f83131313f267b93bc9...,10/29/2025 10:30:00 PM,2,DRIVER,1.0,2077755.0,NaN,CHEVROLET,MALIBU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2179702,35bc347754b2be654b827f536e9f3246edc32141ccfa90...,10/29/2025 10:15:00 PM,1,DRIVER,NaN,2077750.0,NaN,ACURA,ADX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2179703,35bc347754b2be654b827f536e9f3246edc32141ccfa90...,10/29/2025 10:15:00 PM,2,DRIVER,NaN,2077751.0,NaN,NISSAN,SENTRA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2179707,53ff90946a712962cca94a4f8c5aa0778695b15426362a...,10/29/2025 10:03:00 PM,1,DRIVER,NaN,2077756.0,NaN,KIA,SPORTAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2179708,53ff90946a712962cca94a4f8c5aa0778695b15426362a...,10/29/2025 10:03:00 PM,2,DRIVER,NaN,2077757.0,NaN,MAZDA,CX-5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df[['AREA_00_I', 'AREA_01_I', 'AREA_02_I', 'AREA_03_I', 'AREA_04_I', 'AREA_05_I', 'AREA_06_I', 'AREA_07_I', 'AREA_08_I', 'AREA_09_I', 'AREA_10_I', 'AREA_11_I', 'AREA_12_I','AREA_99_I']].head(50)

,AREA_00_I,AREA_01_I,AREA_02_I,AREA_03_I,AREA_04_I,AREA_05_I,AREA_06_I,AREA_07_I,AREA_08_I,AREA_09_I,AREA_10_I,AREA_11_I,AREA_12_I,AREA_99_I
0,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
2,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN
3,NaN,Y,Y,NaN,NaN,Y,Y,Y,NaN,NaN,Y,Y,Y,NaN
4,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,Y,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN
9,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,NaN
18,NaN,Y,Y,Y,Y,Y,NaN,Y,Y,Y,Y,Y,Y,NaN
19,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN
20,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Y,NaN,NaN,NaN,Y,Y,N,NaN,NaN,NaN,NaN,Y,NaN
22,NaN,NaN,NaN,NaN,Y,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,Y,Y,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,Y,NaN,NaN,NaN
25,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN
26,NaN,NaN,NaN,NaN,N,Y,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,NaN
31,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
36,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
40,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN
43,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN
44,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
for col in ['AREA_00_I', 'AREA_01_I', 'AREA_02_I', 'AREA_03_I', 'AREA_04_I', 'AREA_05_I', 'AREA_06_I']:
    print(f"\n--- {col} ---")
    print("Valores únicos:", df[col].unique()[:10])  # muestra los primeros 10 valores únicos
    print("Cantidad de nulos:", df[col].isna().sum())
    print("Tipo de dato:", df[col].dtype)

--- AREA_00_I ---
Valores únicos: [nan 'Y' 'N']
Cantidad de nulos: 1966722
Tipo de dato: object

--- AREA_01_I ---
Valores únicos: ['Y' nan 'N']
Cantidad de nulos: 1485401
Tipo de dato: object

--- AREA_02_I ---
Valores únicos: ['Y' nan 'N']
Cantidad de nulos: 1715466
Tipo de dato: object

--- AREA_03_I ---
Valores únicos: [nan 'Y' 'N']
Cantidad de nulos: 1837629
Tipo de dato: object

--- AREA_04_I ---
Valores únicos: [nan 'Y' 'N']
Cantidad de nulos: 1841218
Tipo de dato: object

--- AREA_05_I ---
Valores únicos: [nan 'Y' 'N']
Cantidad de nulos: 1733329
Tipo de dato: object

--- AREA_06_I ---
Valores únicos: [nan 'Y' 'N']
Cantidad de nulos: 1715545
Tipo de dato: object

In [18]:
cols_to_drop = [
    'AREA_00_I', 'AREA_01_I', 'AREA_02_I', 'AREA_03_I', 'AREA_04_I',
    'AREA_05_I', 'AREA_06_I', 'AREA_07_I', 'AREA_08_I', 'AREA_09_I',
    'AREA_10_I', 'AREA_11_I', 'AREA_12_I', 'AREA_99_I'
]

# Eliminar las columnas
df = df.drop(columns=cols_to_drop, errors='ignore')
df.head(10)  # Muestra las primeras 10 filas después de eliminar las columnas

,CRASH_UNIT_ID,CRASH_RECORD_ID,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,MODEL,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,2179723,62c4e58eb2cdf2c7c0d8693b02e2e65a5369f227d75997...,10/30/2025 01:07:00 AM,1,DRIVER,2.0,2077774.0,NaN,JEEP,PATRIOT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2179719,6da1bcd91641838b96db4ce7d075137a4d215e06452fee...,10/30/2025 12:20:00 AM,1,DRIVER,NaN,2077769.0,NaN,HONDA,ACCORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2179720,6da1bcd91641838b96db4ce7d075137a4d215e06452fee...,10/30/2025 12:20:00 AM,2,DRIVER,NaN,2077772.0,N,TOYOTA,CAMRY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2179724,e7d969ad79f62838ae1fdaf3d0866a6227966a68cce8be...,10/30/2025 12:17:00 AM,1,DRIVER,NaN,2077773.0,NaN,FORD,MUSTANG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2179721,b527e7fb7a13977cfa4de8f0264effc6646d89f3811878...,10/29/2025 11:38:00 PM,1,DRIVER,1.0,2077770.0,NaN,FORD,EXPLORER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2179722,b527e7fb7a13977cfa4de8f0264effc6646d89f3811878...,10/29/2025 11:38:00 PM,2,DRIVER,1.0,2077771.0,NaN,TOYOTA,HIGHLANDER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2179717,ddca8ac22fab1f666a729a563261ecf62a4579d0b50e0c...,10/29/2025 11:36:00 PM,1,DRIVERLESS,NaN,2077767.0,NaN,HONDA,CIVIC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2179718,ddca8ac22fab1f666a729a563261ecf62a4579d0b50e0c...,10/29/2025 11:36:00 PM,2,PARKED,NaN,2077768.0,NaN,BMW,X3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2179727,b25647c9e287b07a2a3fda8c8b9a7e3bd405d8698d0f07...,10/29/2025 11:28:00 PM,1,DRIVER,NaN,2077782.0,NaN,UNKNOWN,OTHER (EXPLAIN IN NARRATIVE),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2179728,b25647c9e287b07a2a3fda8c8b9a7e3bd405d8698d0f07...,10/29/2025 11:28:00 PM,2,DRIVER,NaN,2077779.0,NaN,JEEP,COMPASS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#df[['HAZMAT_CLASS', 'MCS_OUT_OF_SERVICE_I', 'HAZMAT_OUT_OF_SERVICE_I', 'LOAD_TYPE', 'CARGO_BODY_TYPE', 'VEHICLE_CONFIG']].head(50)
for col in ['HAZMAT_CLASS', 'MCS_OUT_OF_SERVICE_I', 'HAZMAT_OUT_OF_SERVICE_I', 'LOAD_TYPE', 'CARGO_BODY_TYPE', 'VEHICLE_CONFIG']:
    print(f"\n--- {col} ---")
    print("Valores únicos:", df[col].unique()[:10])  # muestra los primeros 10 valores únicos
    print("Cantidad de nulos:", df[col].isna().sum())
    print("Tipo de dato:", df[col].dtype)

df = df.drop(columns=['HAZMAT_CLASS', 'MCS_OUT_OF_SERVICE_I', 'HAZMAT_OUT_OF_SERVICE_I', 'LOAD_TYPE'], errors='ignore')

--- HAZMAT_CLASS ---
Valores únicos: [nan 'OXIDIZER OR ORGANIC PEROXIDE' 'MISCELLANEOUS'
 'FLAMMABLE OR COMBUSTIBLE LIQUID' 'GASES' 'EXPLOSIVES' 'CORROSIVE'
 'FLAMMABLE SOLID, SPONTANEOUSLY COMBUSTIBLE, OR DANGEROUS WHEN WET'
 'POISON (TOXIC) OR POISON INHALATION HAZARD']
Cantidad de nulos: 2033474
Tipo de dato: object

--- MCS_OUT_OF_SERVICE_I ---
Valores únicos: [nan 'N' 'Y']
Cantidad de nulos: 2020466
Tipo de dato: object

--- HAZMAT_OUT_OF_SERVICE_I ---
Valores únicos: [nan 'N' 'Y']
Cantidad de nulos: 2020704
Tipo de dato: object

--- LOAD_TYPE ---
Valores únicos: [nan 'UNKNOWN' 'OTHER' 'BUILDING MATERIALS' 'CONSTRUCTION EQUIPMENT'
 'STEEL COILS' 'FARM EQUIPMENT']
Cantidad de nulos: 2019443
Tipo de dato: object

--- CARGO_BODY_TYPE ---
Valores únicos: [nan 'OTHER' 'VAN/ENCLOSED BOX' 'BUS' 'FLATBED' 'GARBAGE/REFUSE' 'DUMP'
 'CONCRETE MIXER' 'AUTO TRANSPORTER' 'TANK']
Cantidad de nulos: 2018725
Tipo de dato: object

--- VEHICLE_CONFIG ---
Valores únicos: [nan 'TRACTOR/SEMI-TRAILER' 'UNKNOWN HEAVY TRUCK'
 'SINGLE UNIT TRUCK, 2 AXLES, 6 TIRES'
 'SINGLE UNIT TRUCK, 3 OR MORE AXLES' 'BUS' 'TRUCK/TRAILER'
 'TRUCK/TRACTOR' 'TRACTOR/DOUBLES']
Cantidad de nulos: 2017995
Tipo de dato: object

In [20]:
#df[['AXLE_CNT', 'TOTAL_VEHICLE_LENGTH', 'TRAILER2_LENGTH', 'TRAILER1_LENGTH', 'TRAILER2_WIDTH','TRAILER1_WIDTH', 'WIDE_LOAD_I', 'IDOT_PERMIT_NO']].head(50)
for col in ['AXLE_CNT', 'TOTAL_VEHICLE_LENGTH', 'TRAILER2_LENGTH', 'TRAILER1_LENGTH', 'TRAILER2_WIDTH','TRAILER1_WIDTH', 'WIDE_LOAD_I', 'IDOT_PERMIT_NO']:
    print(f"\n--- {col} ---")
    print("Valores únicos:", df[col].unique()[:10])  # muestra los primeros 10 valores únicos
    print("Cantidad de nulos:", df[col].isna().sum())
    print("Tipo de dato:", df[col].dtype)
df = df.drop(columns=['AXLE_CNT', 'TRAILER2_LENGTH', 'TRAILER1_LENGTH', 'TRAILER2_WIDTH','TRAILER1_WIDTH', 'WIDE_LOAD_I', 'IDOT_PERMIT_NO'], errors='ignore')

--- AXLE_CNT ---
Valores únicos: [nan 3.0 5.0 6.0 2.0 4.0 1.0 10.0 18.0 8.0]
Cantidad de nulos: 2030036
Tipo de dato: object

--- TOTAL_VEHICLE_LENGTH ---
Valores únicos: [nan 73. 75. 13. 53. 70. 72. 27. 60. 20.]
Cantidad de nulos: 2031650
Tipo de dato: float64

--- TRAILER2_LENGTH ---
Valores únicos: [nan 53.  1. 28. 50. 75. 15. 60. 32. 10.]
Cantidad de nulos: 2034678
Tipo de dato: float64

--- TRAILER1_LENGTH ---
Valores únicos: [nan 53. 40. 28. 48. 54. 16. 26. 42. 45.]
Cantidad de nulos: 2032225
Tipo de dato: float64

--- TRAILER2_WIDTH ---
Valores únicos: [nan '>102' '97-102' '0-96']
Cantidad de nulos: 2034352
Tipo de dato: object

--- TRAILER1_WIDTH ---
Valores únicos: [nan '97-102' '>102' '0-96']
Cantidad de nulos: 2031556
Tipo de dato: object

--- WIDE_LOAD_I ---
Valores únicos: [nan 'Y' 'N']
Cantidad de nulos: 2034570
Tipo de dato: object

--- IDOT_PERMIT_NO ---
Valores únicos: [nan 'CS1725025' 80806.0 320526.0 128493.0 3516347.0 '005095' 'STB0745'
 '58584' '098644']
Cantidad de nulos: 2033676
Tipo de dato: object

In [21]:
#df[['MCS_VIO_CAUSE_CRASH_I', 'HAZMAT_VIO_CAUSE_CRASH_I', 'MCS_REPORT_NO', 'MCS_REPORT_I', 'HAZMAT_REPORT_NO', 'HAZMAT_REPORT_I', 'HAZMAT_PRESENT_I', 'UN_NO', 'HAZMAT_NAME', 'HAZMAT_PLACARDS_I', 'CARRIER_CITY', 'CARRIER_STATE']].head(50)
for col in ['MCS_VIO_CAUSE_CRASH_I', 'HAZMAT_VIO_CAUSE_CRASH_I', 'MCS_REPORT_NO', 'MCS_REPORT_I', 'HAZMAT_REPORT_NO', 'HAZMAT_REPORT_I', 'HAZMAT_PRESENT_I', 'UN_NO', 'HAZMAT_NAME', 'HAZMAT_PLACARDS_I', 'CARRIER_CITY', 'CARRIER_STATE']:
    print(f"\n--- {col} ---")
    print("Valores únicos:", df[col].unique()[:10])  # muestra los primeros 10 valores únicos
    print("Cantidad de nulos:", df[col].isna().sum())
    print("Tipo de dato:", df[col].dtype)
df = df.drop(columns=['MCS_REPORT_NO', 'MCS_REPORT_I', 'HAZMAT_REPORT_NO', 'HAZMAT_REPORT_I', 'UN_NO', 'HAZMAT_NAME', 'HAZMAT_PLACARDS_I', 'CARRIER_CITY', 'CARRIER_STATE'], errors='ignore')

--- MCS_VIO_CAUSE_CRASH_I ---
Valores únicos: [nan 'U' 'N' 'Y']
Cantidad de nulos: 2020363
Tipo de dato: object

--- HAZMAT_VIO_CAUSE_CRASH_I ---
Valores únicos: [nan 'U' 'N' 'Y']
Cantidad de nulos: 2020134
Tipo de dato: object

--- MCS_REPORT_NO ---
Valores únicos: [nan 'JJ240816' 'JF' 'UNKNOWN' 3284167073.0 52748916.0 47783026.0 8253.0
 'JA413636']
Cantidad de nulos: 2034740
Tipo de dato: object

--- MCS_REPORT_I ---
Valores únicos: [nan 'U' 'N' 'Y']
Cantidad de nulos: 2020268
Tipo de dato: object

--- HAZMAT_REPORT_NO ---
Valores únicos: [nan 'JE106328']
Cantidad de nulos: 2034747
Tipo de dato: object

--- HAZMAT_REPORT_I ---
Valores únicos: [nan 'U' 'N' 'Y']
Cantidad de nulos: 2020309
Tipo de dato: object

--- HAZMAT_PRESENT_I ---
Valores únicos: [nan 'U' 'N' 'Y']
Cantidad de nulos: 2019937
Tipo de dato: object

--- UN_NO ---
Valores únicos: [nan 2031.0 103.0 3004.0 5158.0 126.0 1.0 1803.0 113.0 '24']
Cantidad de nulos: 2034070
Tipo de dato: object

--- HAZMAT_NAME ---
Valores únicos: [nan 'OXIDEZER' 'GASOLINE' 'EXPLOSIVES' 'GASES- FLAMMABLE'
 'FLAMMABLE LIQUID' 'FLAMMABLE' 'CORROSIVE' 'CARBON DIOXIDE' 'DIESEL FUEL']
Cantidad de nulos: 2034680
Tipo de dato: object

--- HAZMAT_PLACARDS_I ---
Valores únicos: [nan 'Y' 'N']
Cantidad de nulos: 2034360
Tipo de dato: object

--- CARRIER_CITY ---
Valores únicos: [nan 'DENVER' 'BENSENVILLE' 'UNKNOWN' 'CHICAGO' 'DES PLAINS' 'JOLIET'
 'TUNNEL HILL' 'MADISON' 'ARLINGTON HEIGHTS']
Cantidad de nulos: 2016982
Tipo de dato: object

--- CARRIER_STATE ---
Valores únicos: [nan 'CO' 'IL' 'XX' 'GA' 'WI' 'MI' 'IN' 'CA' 'PA']
Cantidad de nulos: 2016656
Tipo de dato: object

In [22]:
df[['CMRC_VEH_I', 'VEHICLE_TYPE', 'VEHICLE_USE', 'TRAVEL_DIRECTION', 'MANEUVER', 'TOWED_I', 'FIRE_I', 'OCCUPANT_CNT', 'EXCEED_SPEED_LIMIT_I', 'TOWED_BY', 'TOWED_TO']].head(50)
for col in ['CMRC_VEH_I', 'VEHICLE_TYPE', 'VEHICLE_USE', 'TRAVEL_DIRECTION', 'MANEUVER', 'TOWED_I', 'FIRE_I', 'OCCUPANT_CNT', 'EXCEED_SPEED_LIMIT_I', 'TOWED_BY', 'TOWED_TO']:
    print(f"\n--- {col} ---")
    print("Valores únicos:", df[col].unique()[:10])  # muestra los primeros 10 valores únicos
    print("Cantidad de nulos:", df[col].isna().sum())
    print("Tipo de dato:", df[col].dtype)

df = df.drop(columns=['OCCUPANT_CNT','LIC_PLATE_STATE', 'TRAVEL_DIRECTION', 'TOWED_I', 'FIRE_I', 'TOWED_BY', 'TOWED_TO'], errors='ignore')

--- CMRC_VEH_I ---
Valores únicos: [nan 'N' 'Y']
Cantidad de nulos: 1997001
Tipo de dato: object

--- VEHICLE_TYPE ---
Valores únicos: ['PASSENGER' 'UNKNOWN/NA' 'TRACTOR W/ SEMI-TRAILER'
 'SPORT UTILITY VEHICLE (SUV)' 'VAN/MINI-VAN' 'PICKUP' nan
 'BUS OVER 15 PASS.' 'OTHER' 'TRUCK - SINGLE UNIT']
Cantidad de nulos: 48617
Tipo de dato: object

--- VEHICLE_USE ---
Valores únicos: ['PERSONAL' 'OTHER' 'UNKNOWN/NA' 'COMMERCIAL - MULTI-UNIT' 'NOT IN USE'
 nan 'TAXI/FOR HIRE' 'CTA' 'TOW TRUCK' 'FIRE']
Cantidad de nulos: 48617
Tipo de dato: object

--- TRAVEL_DIRECTION ---
Valores únicos: ['N' 'E' 'W' 'S' 'UNKNOWN' nan 'SW' 'NE' 'NW' 'SE']
Cantidad de nulos: 48617
Tipo de dato: object

--- MANEUVER ---
Valores únicos: ['STRAIGHT AHEAD' 'OTHER' 'AVOIDING VEHICLES/OBJECTS' 'UNKNOWN/NA'
 'PARKED' 'ENTER FROM DRIVE/ALLEY' 'TURNING LEFT' 'U-TURN' nan 'BACKING']
Cantidad de nulos: 48617
Tipo de dato: object

--- TOWED_I ---
Valores únicos: ['Y' nan 'N']
Cantidad de nulos: 1782901
Tipo de dato: object

--- FIRE_I ---
Valores únicos: [nan 'N' 'Y']
Cantidad de nulos: 2033067
Tipo de dato: object

--- OCCUPANT_CNT ---
Valores únicos: [ 3.  1.  2.  0. nan  4.  7.  5.  8.  6.]
Cantidad de nulos: 48617
Tipo de dato: float64

--- EXCEED_SPEED_LIMIT_I ---
Valores únicos: [nan 'N' 'Y']
Cantidad de nulos: 2032346
Tipo de dato: object

--- TOWED_BY ---
Valores únicos: [nan 'private tow' 'city of chicago' 'OWNER' 'PRIVATE TOW' 'PRIVATE'
 'UNKNOWN' 'CITY OF CHICAGO' 'MAXIMUM TOWING AND RECOVERY' 'SS']
Cantidad de nulos: 1842664
Tipo de dato: object

--- TOWED_TO ---
Valores únicos: [nan 'private lot' '103rd doty' 'OWNER' 'PRIVATE TOW' 'UNKNOWN' 'PRIVATE'
 'POUND 6' '5300 W. LAKE ST. MELROSE PARK' 'POUND 1']
Cantidad de nulos: 1916880
Tipo de dato: object

In [23]:
#df[['FIRST_CONTACT_POINT', 'CMV_ID', 'USDOT_NO', 'CCMC_NO', 'ILCC_NO', 'COMMERCIAL_SRC', 'GVWR', 'CARRIER_NAME']].head(50)
for col in ['FIRST_CONTACT_POINT', 'CMV_ID', 'USDOT_NO', 'CCMC_NO', 'ILCC_NO', 'COMMERCIAL_SRC', 'GVWR', 'CARRIER_NAME']:
    print(f"\n--- {col} ---")
    print("Valores únicos:", df[col].unique()[:10])  # muestra los primeros 10 valores únicos
    print("Cantidad de nulos:", df[col].isna().sum())
    print("Tipo de dato:", df[col].dtype)

df = df.drop(columns=['CMV_ID', 'USDOT_NO', 'CCMC_NO', 'ILCC_NO', 'COMMERCIAL_SRC', 'GVWR', 'CARRIER_NAME'], errors='ignore')

--- FIRST_CONTACT_POINT ---
Valores únicos: ['FRONT' 'UNKNOWN' 'REAR' 'TOP' 'FRONT-LEFT-CORNER' 'SIDE-RIGHT'
 'SIDE-LEFT' 'FRONT-RIGHT-CORNER' 'REAR-RIGHT-CORNER' nan]
Cantidad de nulos: 51817
Tipo de dato: object

--- CMV_ID ---
Valores únicos: [nan '22,451' '22,449' '22,446' '22,447' '22,448' '22,445' '22,442'
 '22,443' '22,444']
Cantidad de nulos: 2014520
Tipo de dato: object

--- USDOT_NO ---
Valores únicos: [nan 202381.0 1091106.0 157.0 2554364.0 1355256.0 303024.0 86876.0
 926150.0 4020807.0]
Cantidad de nulos: 2023645
Tipo de dato: object

--- CCMC_NO ---
Valores únicos: [nan '103' 'UNK' '158051' '789206' '134217' '727369' '300872' '788412'
 '07326B']
Cantidad de nulos: 2032442
Tipo de dato: object

--- ILCC_NO ---
Valores únicos: [nan 'UNK' 'RL1077' '42942' '138678' '118558' '153720' '219403' '180761'
 '6545']
Cantidad de nulos: 2033184
Tipo de dato: object

--- COMMERCIAL_SRC ---
Valores únicos: [nan 'PAPERS' 'SIDE OF TRUCK' 'DRIVER' 'LOG BOOK']
Cantidad de nulos: 2021671
Tipo de dato: object

--- GVWR ---
Valores únicos: [nan 1.0 3.0 2.0 73280.0 80000.0 50000.0 42540.0 9000.0 8000.0]
Cantidad de nulos: 2023705
Tipo de dato: object

--- CARRIER_NAME ---
Valores únicos: [nan 'NAVAJO EXPRESS INC' 'R & M FREIGHT INC' 'UNKNOWN'
 'UNITED PACKAGING PRODUCTS INC' 'LATINO EXPRESS OF CHICAGO LLC'
 'SCHOOL BUS' 'GREEN LINE TAXI' 'INFINITY TRANSPORTATION MANAGEMENT'
 'GTO CARRIES INC--FIRM OWNED']
Cantidad de nulos: 2015445
Tipo de dato: object

In [24]:
df.columns

Index(['CRASH_UNIT_ID', 'CRASH_RECORD_ID', 'CRASH_DATE', 'UNIT_NO',
       'UNIT_TYPE', 'NUM_PASSENGERS', 'VEHICLE_ID', 'CMRC_VEH_I', 'MAKE',
       'MODEL', 'VEHICLE_YEAR', 'VEHICLE_DEFECT', 'VEHICLE_TYPE',
       'VEHICLE_USE', 'MANEUVER', 'EXCEED_SPEED_LIMIT_I',
       'FIRST_CONTACT_POINT', 'HAZMAT_PRESENT_I', 'HAZMAT_VIO_CAUSE_CRASH_I',
       'MCS_VIO_CAUSE_CRASH_I', 'TOTAL_VEHICLE_LENGTH', 'VEHICLE_CONFIG',
       'CARGO_BODY_TYPE'],
      dtype='object')