In [210]:
import pandas as pd
df = pd.read_csv('Vehicles_clean.csv')
df.head(5)

C:\Users\gabon\AppData\Local\Temp\ipykernel_19912\1191120847.py:2: DtypeWarning: Columns (3,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Vehicles_clean.csv')

,CRASH_UNIT_ID,CRASH_RECORD_ID,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,MODEL,...,VEHICLE_USE,MANEUVER,EXCEED_SPEED_LIMIT_I,FIRST_CONTACT_POINT,HAZMAT_PRESENT_I,HAZMAT_VIO_CAUSE_CRASH_I,MCS_VIO_CAUSE_CRASH_I,TOTAL_VEHICLE_LENGTH,VEHICLE_CONFIG,CARGO_BODY_TYPE
0,2179723,62c4e58eb2cdf2c7c0d8693b02e2e65a5369f227d75997...,10/30/2025 01:07:00 AM,1,DRIVER,2.0,2077774.0,NaN,JEEP,PATRIOT,...,PERSONAL,STRAIGHT AHEAD,NaN,FRONT,NaN,NaN,NaN,NaN,NaN,NaN
1,2179719,6da1bcd91641838b96db4ce7d075137a4d215e06452fee...,10/30/2025 12:20:00 AM,1,DRIVER,NaN,2077769.0,NaN,HONDA,ACCORD,...,PERSONAL,OTHER,NaN,FRONT,NaN,NaN,NaN,NaN,NaN,NaN
2,2179720,6da1bcd91641838b96db4ce7d075137a4d215e06452fee...,10/30/2025 12:20:00 AM,2,DRIVER,NaN,2077772.0,N,TOYOTA,CAMRY,...,OTHER,STRAIGHT AHEAD,NaN,FRONT,NaN,NaN,NaN,NaN,NaN,NaN
3,2179724,e7d969ad79f62838ae1fdaf3d0866a6227966a68cce8be...,10/30/2025 12:17:00 AM,1,DRIVER,NaN,2077773.0,NaN,FORD,MUSTANG,...,PERSONAL,AVOIDING VEHICLES/OBJECTS,NaN,UNKNOWN,NaN,NaN,NaN,NaN,NaN,NaN
4,2179721,b527e7fb7a13977cfa4de8f0264effc6646d89f3811878...,10/29/2025 11:38:00 PM,1,DRIVER,1.0,2077770.0,NaN,FORD,EXPLORER,...,PERSONAL,STRAIGHT AHEAD,NaN,FRONT,NaN,NaN,NaN,NaN,NaN,NaN

In [211]:
df.columns

Index(['CRASH_UNIT_ID', 'CRASH_RECORD_ID', 'CRASH_DATE', 'UNIT_NO',
       'UNIT_TYPE', 'NUM_PASSENGERS', 'VEHICLE_ID', 'CMRC_VEH_I', 'MAKE',
       'MODEL', 'VEHICLE_YEAR', 'VEHICLE_DEFECT', 'VEHICLE_TYPE',
       'VEHICLE_USE', 'MANEUVER', 'EXCEED_SPEED_LIMIT_I',
       'FIRST_CONTACT_POINT', 'HAZMAT_PRESENT_I', 'HAZMAT_VIO_CAUSE_CRASH_I',
       'MCS_VIO_CAUSE_CRASH_I', 'TOTAL_VEHICLE_LENGTH', 'VEHICLE_CONFIG',
       'CARGO_BODY_TYPE'],
      dtype='object')

In [212]:
df.shape

(2034748, 23)

In [213]:
vehicle = df[['VEHICLE_ID', 'CRASH_UNIT_ID', 'CRASH_RECORD_ID', 'CRASH_DATE', 'UNIT_NO','UNIT_TYPE', 'NUM_PASSENGERS', 'VEHICLE_YEAR', 'MAKE', 'MODEL', 'VEHICLE_TYPE']]
vehicle.head(5)

,VEHICLE_ID,CRASH_UNIT_ID,CRASH_RECORD_ID,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_YEAR,MAKE,MODEL,VEHICLE_TYPE
0,2077774.0,2179723,62c4e58eb2cdf2c7c0d8693b02e2e65a5369f227d75997...,10/30/2025 01:07:00 AM,1,DRIVER,2.0,2016.0,JEEP,PATRIOT,PASSENGER
1,2077769.0,2179719,6da1bcd91641838b96db4ce7d075137a4d215e06452fee...,10/30/2025 12:20:00 AM,1,DRIVER,NaN,2025.0,HONDA,ACCORD,PASSENGER
2,2077772.0,2179720,6da1bcd91641838b96db4ce7d075137a4d215e06452fee...,10/30/2025 12:20:00 AM,2,DRIVER,NaN,2018.0,TOYOTA,CAMRY,PASSENGER
3,2077773.0,2179724,e7d969ad79f62838ae1fdaf3d0866a6227966a68cce8be...,10/30/2025 12:17:00 AM,1,DRIVER,NaN,2006.0,FORD,MUSTANG,PASSENGER
4,2077770.0,2179721,b527e7fb7a13977cfa4de8f0264effc6646d89f3811878...,10/29/2025 11:38:00 PM,1,DRIVER,1.0,2018.0,FORD,EXPLORER,PASSENGER

In [214]:
vehicle.shape

(2034748, 11)

In [215]:
#VEHICLE_ID
vehicle['VEHICLE_ID'] = pd.to_numeric(vehicle['VEHICLE_ID'], errors='coerce')
vehicle = vehicle.dropna(subset=['VEHICLE_ID'])
vehicle['VEHICLE_ID'] = vehicle['VEHICLE_ID'].astype('Int64')
vehicle = vehicle.drop_duplicates(subset=['VEHICLE_ID'])

#CRASH_UNIT_ID limpio

#CRASH_RECORD_ID 
vehicle['CRASH_RECORD_ID'] = vehicle['CRASH_RECORD_ID'].str.strip()

#CRASH_DATE 
vehicle['CRASH_DATE'] = pd.to_datetime(vehicle['CRASH_DATE'], errors='coerce')
vehicle = vehicle[vehicle['CRASH_DATE'] <= pd.Timestamp.today()]

#UNIT_NO 
vehicle['UNIT_NO'] = vehicle['UNIT_NO'].astype(str).str.replace(',', '')
vehicle['UNIT_NO'] = vehicle['UNIT_NO'].astype(str).str.replace("'", '')
vehicle['UNIT_NO'] = pd.to_numeric(vehicle['UNIT_NO'], errors='coerce')
vehicle.loc[(vehicle['UNIT_NO'] < 0) | (vehicle['UNIT_NO'] > 50), 'UNIT_NO'] = pd.NA
vehicle['UNIT_NO'] = vehicle['UNIT_NO'].astype('Int64')

#UNIT_TYPE limpio

#NUM_PASSENGERS
vehicle['NUM_PASSENGERS'] = pd.to_numeric(vehicle['NUM_PASSENGERS'], errors='coerce')
vehicle.loc[(vehicle['NUM_PASSENGERS'] < 0) | (vehicle['NUM_PASSENGERS'] > 70), 'NUM_PASSENGERS'] = pd.NA
vehicle['NUM_PASSENGERS'] = vehicle['NUM_PASSENGERS'].astype('Int64')
vehicle['NUM_PASSENGERS'] = vehicle['NUM_PASSENGERS'].fillna(0)

#VEHICLE_YEAR
vehicle['VEHICLE_YEAR'] = pd.to_numeric(vehicle['VEHICLE_YEAR'], errors='coerce')
vehicle.loc[(vehicle['VEHICLE_YEAR'] < 1900) | (vehicle['VEHICLE_YEAR'] > 2026), 'VEHICLE_YEAR'] = pd.NA
vehicle['VEHICLE_YEAR'] = vehicle['VEHICLE_YEAR'].astype('Int64')

missing_tokens = {
    '', ' ', 'UNKNOWN', 'UNKNOWN/NA', 'UNK',
    'N/A', 'NA', 'NONE', 'NULL', 'NAN',
    'OTHER', 'OTHER (EXPLAIN IN NARRATIVE)',
    'NOT APPLICABLE'
}
for col in ['MAKE', 'MODEL', 'VEHICLE_TYPE']:
    # 1. Use pandas StringDtype (handles <NA> nicely)
    vehicle[col] = vehicle[col].astype('string')
    vehicle[col] = vehicle[col].str.upper()
    vehicle.loc[vehicle[col].isin(missing_tokens), col] = pd.NA

C:\Users\gabon\AppData\Local\Temp\ipykernel_19912\1348165414.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicle['VEHICLE_ID'] = pd.to_numeric(vehicle['VEHICLE_ID'], errors='coerce')

In [216]:
for col in vehicle.columns:
    print(f"\n--- {col} ---")
    print("Valores únicos:", vehicle[col].unique()[:50])  # muestra los primeros 10 valores únicos
    print("Cantidad de nulos:", vehicle[col].isna().sum())
    print("Tipo de dato:", vehicle[col].dtype)

--- VEHICLE_ID ---
Valores únicos: <IntegerArray>
[2077774, 2077769, 2077772, 2077773, 2077770, 2077771, 2077767, 2077768,
 2077782, 2077779, 2077761, 2077753, 2077775, 2077776, 2077749, 2077755,
 2077750, 2077751, 2077756, 2077757, 2077760, 2077764, 2077766, 2077752,
 2077754, 2077742, 2077745, 2077747, 2077733, 2077735, 2077781, 2077780,
 2077730, 2077732, 2077728, 2077729, 2077724, 2077726, 2077710, 2077713,
 2077738, 2077740, 2077703, 2077709, 2077717, 2077693, 2077704, 2077675,
 2077667, 2077712]
Length: 50, dtype: Int64
Cantidad de nulos: 0
Tipo de dato: Int64

--- CRASH_UNIT_ID ---
Valores únicos: [2179723 2179719 2179720 2179724 2179721 2179722 2179717 2179718 2179727
 2179728 2179712 2179706 2179725 2179726 2179700 2179701 2179702 2179703
 2179707 2179708 2179709 2179710 2179711 2179704 2179705 2179694 2179695
 2179698 2179686 2179687 2179731 2179732 2179683 2179684 2179678 2179679
 2179676 2179677 2179654 2179655 2179690 2179691 2179658 2179659 2179664
 2179636 2179637 2179622 2179623 2179662]
Cantidad de nulos: 0
Tipo de dato: int64

--- CRASH_RECORD_ID ---
Valores únicos: ['62c4e58eb2cdf2c7c0d8693b02e2e65a5369f227d759977d6aaa75741f0795afa3e0ff6a46eab367944e1b65257318b82941889b3b9715f181fcb2b7d43deacf'
 '6da1bcd91641838b96db4ce7d075137a4d215e06452fee9fb28fa4233b42b61a9669fa8c38f0c0b7e630e72120d14f237020362b1d5440f2768721e7e64f1ae5'
 'e7d969ad79f62838ae1fdaf3d0866a6227966a68cce8be318fddb8d7d16789c80df0a9a40b030204374bf56dffb6c8e009d5b4b3cd79088d2a5f880a8f992c46'
 'b527e7fb7a13977cfa4de8f0264effc6646d89f3811878db8ef17f5a905d8058e192768e628dc162f8683ab402691397591531d56167bec12f33e0e3e624ed35'
 'ddca8ac22fab1f666a729a563261ecf62a4579d0b50e0c4222164a9efdc82113d56d74aaf50bbe4fe9427d8a90841c3d49dcaedee7e2c7ca33e3fad74feb1f12'
 'b25647c9e287b07a2a3fda8c8b9a7e3bd405d8698d0f072a2b11c9d6189b0fb8a59380d659219df327f79295ab70b89d48ec03c787cc768b6e66835a31ff0e0c'
 '750bc32d4ad93cd7e5c7aab90d1a156d246271d129646defc96866ed16d06617313da1f2a4fd35d02d854ea64f2e094d7d1ca68ac7c74b94975b7b6aa79ab185'
 '440bc31b28f94daa09a2df1ad39cbbc37b30142b465c6a656df52939289b10f91fb09953807ceb24dd7bddb99a495451bdfc1b8095e51a5de77a145ebe805d98'
 '0bc8f39a5677ff6531f43228483e1c53e6ad712d823f66047ab226c43a6eea212f8b04341c8d099f46dd9bce5507bb2011f4b20d1153b2832aa2e826d35e503c'
 'bde3eb8ddefb7fa6194fef72ee7f83131313f267b93bc988078d15afb7dff04d20f3e03eecb602e79a419066fc653f17ecd845c3d1817a82f8a7979d08ce016c'
 '35bc347754b2be654b827f536e9f3246edc32141ccfa9081c4588744f62f497127067c1883c2b4b01ce060c9dc646cc88fa61ab00b7e673d43227094ac60a293'
 '53ff90946a712962cca94a4f8c5aa0778695b15426362a322aa1e43bd91998db577bcf35c563c7ab451f7113345ac79a73e1f80f763dd3d8681ac5a1d85094d9'
 '63fe2235496f8d10a8390e0446ef4833cbfd90a3adfce42ea95f598c6af225cbc682333b85f8b4f689fcd23d35334ab3dccb6ff3945223fe9a5375bb6db74c52'
 '15a5f5e05d3612d7026e2764e072c7b23356fab5cfa03ce3b21a18805e7c631c188e7437fbb896d29b58d62bf53733cd825f257e50243de447e43bdee2dfe004'
 '5e5936781afc4dcddecb07afb18051820ba3a81ec295f399c9f484d189cda2581c57b1fb628ff3408d92f61a67a58e241e7a0582e2eadb71f1ac517bca1a3d01'
 '3a05f5b612f9e31e346602b721f04dba806cb59c16583058fe504501df72364d401eab57d866837699c74f4cedc4713eedc6811c221f8d1052c7aba6726c619b'
 '1021558583631c6f7705e2ffceff72ceaaeaa62bff0f155fc81447305a8e67ea3f5f7edbe57ab57441099cfbb4b663aedf701483f0fcedeaf13906e2919bf728'
 'f1c5992759ae239c12f3c2f3dc746a74463a61d442fa9809db50b51f746a8a10ec6803b32da2c573e5f067f3fc29e43fef8559987d1abcef2255a28316e511ec'
 '18b3b55fc7e26389ab782f3511903d967a698e6d347cdf7b9c0211af49be061329c23e6f482647fcc86be2e96bebe2e7c00994e88db45c5416ff5bf624292cfb'
 '429c30d98b27acf9465dfcf28f0cac1943a2aaaca62922990c0085fae7e34d59d969f9a9b07b17f42728e33a835887bcd2f2c6f8f13f2cded985ced6acb15ffa'
 '6d71265d469583898a2e950dae36e4168f80e76aa5b069e8521d13d281d025b80a325f1324d804098cbe3cb19bd9d1a9b2a917b5daace66a7edb5236722067f2'
 'd04253469bdca07f647e0d9e2c56bec1e4ab42edcb0d2992bf16172f1153a64e4d1ef6aa6a1c4450f0efd86700a9d0eb3faaceda5db53d4d97cf1f9ce7fb288e'
 'cf6e7d2077757e9d00fe83241741c600bdfe950605bb8e98142fb4f5b162e4d17f332bd353aca77e6122a648a86fcb6a2e8366a940c12ec05c6b90ea128b3d28'
 '5c1d4b50290330e7f0c646241d693f9e3343ae04ad907bd6dbcda757f11daaa7933a20aee05a5a667bc844297c4c48d64ce09b7aefc8443b0be2e85856522002'
 'cfe26298148fa0e4c10072e04d21cc5a041df3ba39095b0da0e9514b43fc4e23a64908b3e9afa53bf124efc17e0ab3511411f6ace0a57e8e127d38b7241d8c2a'
 '426a51fc5e303df92ad689de4f16009b0ab0ec37f1301bb069113243594be42fc14920b3cd209c259b4511f621fa51a121ee9642cabe57a004e79b615e516411'
 '71f1dccbe54af69ece81bc0a625beb06a28ee129f6011bd5fd107d918011918889e1261a749afd088ffdeaff47a0051d560a2942b0deeb4c791385629935b8a2'
 'e7cbfe56c602ee05184e335083a82b705b7f4dc7e7ea0349c5f5b21300e437dc46215f04eaf1b28bd64361b53b9b986b48936da96ef605dc151bf6c236b8c8b3'
 '0ae5709762df7c505bfaef2d8301883ad462a85e83f0e5e6f312a137f5e31634129572e903e7c3946acbfafc4d0c258106d5c7af5e6fcbe5a7eb03c2730f80a9'
 '43a56ab2c524881b667e310f873eb40b9b8eb9c2051d7141ceed8bff2ccd432aedd34d0ed160e87d47210e1b4025160866ecf453a2c7817a1e06f49dc8df00e7'
 '395bd19043758dff2f12b53160551c3a7c220914bcf977a4e18e40689acdaea531d571e456c259af398a2af2d656d00d6a8b0017f809924258deaa26a7165f1a'
 'c92c406849d6282c08f600858809458cd74e993250e18f1a94d9df80784165f247bfebd619c8da7d2a2e208a028c47308cff91312ad7cc8c9b436ec1766e285f'
 '30ed133f42b3f7f6f910d0d1f388d4ec642abf6c9099efbd293a13ce30242541e613017fb04f9bf70cca2d78a03d85de28222f8c04aefc86f2486f80d7952435'
 '70b40b71bcaa2bbfe1884d0554659bd05b68356963eea6a5d4f68f36e8e74d8cceff50fdf86f8043b75b5b3037a0d06bffbf84735c926634446488c19b9b052d'
 'c250b16d78bedc0ac91b704c52b6e2cfae2541b98a604f897207129984c6b73c42ce08506990c3c767014b4d9da13d877a431cc06addaef900b62ff706494c91'
 '1153900be64d0aa58bce7a539f7567c4b0b35a6b1ec9139ee2b1ebaf085541f0ebc6f86d71f05e2afbb981a9a498b6eaae6429f40ded516c8ffded2ca65261ec'
 '5dde923ad2909c40707c3759985a32dda0ce29b924b78be0d42bbd04251d64ef5b9f1a1dd9382915af68233bab7acf6840c43ec8638ad6e868fed6a64eb3bd4b'
 'c0beba8ef3c74312596ed8cba02eaef89836dc768c27d05ff91c1104bf059321de67609e8541a89d7dba08b076b59d2c50e5f461175367aaec4decc2b383e7c1'
 '80aa61ec326a5f3709b4399f02582a875013ad4e4cd9d00b9dd7fabe7af7ac4ac554a6744097de02a33b178b17ea27c4e0f16b5ebe4e40e416d1174ff75fe89d'
 'bf2c43de1bd62dcaf6547f5e2cb5d928aa629bbe67c88729ad47f844af9afeaffe9464d800b795eace03365d5c251a176bee725b8da08c16f396e69577ed54c9'
 '3f8e2864809b2105d7e959c5e53c06590c3db4c9c1d59707eafe7595adf6942433cc6dd1f0fd92d5aa8fe456b3c4e283358aa562413dd95b8ea3367074491a14'
 '5b72b175758497da6520595d13164da823690991ce22074af6d0ab1e2b81c5500baac82152919c800546b30ab97e7cdec874597db7d0f22455d3b2b3c1fcbafe'
 '87d714f205f0dd72ec3ff3ecdd295dadbb7e1916333d9628a4d01fa28792a718fbad5ecaabf42fe3fd6ca8be53edd3dad9151e32e28549ffa62ba98299c548e7'
 '7620ce28f59c41c941eba4dd21f937008e21d996436cd42d95ffd424db875c6af5ebf1dfb1100fe089af45b5960cbb0a8ae84ee15711587db899b9536588c8e2'
 '5566b7cb01a0cdb555075ccd558cd1e6443132b257a16ef428df3f73db5446b8a0113d3872298eeb7271be8500b36b98c4829f703b6932cdb65f7a29f22c5ab4'
 'ef0c5025e9a4f71b8df4af4ba17cd7f7861314243591d98f1c2d3be8c7125bae2aa8ce7eee3c5d4e7f2dd585c39e2b8714ad720d7aef8860068ad48e8d1d6602'
 '4e3a818d2043aec0de1a685dd0e4e9dd7c383b7ca4736636fa1b610b898cddcc4f65d670734e41a7eddba47894ea231beddbe9ffd0fd4c00a4fc7b6058b770d3'
 'f3795f83fe996b2eaefd524ea2ffbb11085f7550daba8c1e72ebc62feaa9dfd4b8e6ae7d9cc79c00c955c56efe4c1205fe62300cb9a9219b08659bc217b944a7'
 '57f05439832e438422bfd0c289c5842eeaffc9b519491dd468ce01621fe9326dcccadc0503294d68fb909ffa000e27b07f4aba69d967d381c773f24fffcadb91'
 'dfc3d794a753b0c658d35f19b1e266454aeaad793afe3d48877b989fb8c33d39fd29c69076b3823ee21d1ab4a9e7246e9ac60304fd71e9f677403d63d929ad3a']
Cantidad de nulos: 0
Tipo de dato: object

--- CRASH_DATE ---
Valores únicos: <DatetimeArray>
['2025-10-30 01:07:00', '2025-10-30 00:20:00', '2025-10-30 00:17:00',
 '2025-10-29 23:38:00', '2025-10-29 23:36:00', '2025-10-29 23:28:00',
 '2025-10-29 23:18:00', '2025-10-29 23:07:00', '2025-10-29 22:37:00',
 '2025-10-29 22:30:00', '2025-10-29 22:15:00', '2025-10-29 22:03:00',
 '2025-10-29 22:00:00', '2025-10-29 21:50:00', '2025-10-29 21:14:00',
 '2025-10-29 21:00:00', '2025-10-29 20:40:00', '2025-10-29 20:36:00',
 '2025-10-29 20:00:00', '2025-10-29 19:40:00', '2025-10-29 19:35:00',
 '2025-10-29 19:23:00', '2025-10-29 19:21:00', '2025-10-29 19:20:00',
 '2025-10-29 19:15:00', '2025-10-29 19:00:00', '2025-10-29 18:55:00',
 '2025-10-29 18:37:00', '2025-10-29 18:30:00', '2025-10-29 18:29:00',
 '2025-10-29 18:20:00', '2025-10-29 18:17:00', '2025-10-29 18:05:00',
 '2025-10-29 18:00:00', '2025-10-29 17:50:00', '2025-10-29 17:45:00',
 '2025-10-29 17:40:00', '2025-10-29 17:35:00', '2025-10-29 17:34:00',
 '2025-10-29 17:30:00', '2025-10-29 17:29:00', '2025-10-29 17:28:00',
 '2025-10-29 17:25:00', '2025-10-29 17:20:00', '2025-10-29 17:15:00',
 '2025-10-29 17:08:00', '2025-10-29 17:05:00', '2025-10-29 17:00:00',
 '2025-10-29 16:59:00', '2025-10-29 16:57:00']
Length: 50, dtype: datetime64[ns]
Cantidad de nulos: 0
Tipo de dato: datetime64[ns]

--- UNIT_NO ---
Valores únicos: <IntegerArray>
[1, 2, 3, 4, 5, 6, 7, 8, 0, 14, 13, 12, 11, 10, 9, 15, 16, 17, 18, <NA>]
Length: 20, dtype: Int64
Cantidad de nulos: 1
Tipo de dato: Int64

--- UNIT_TYPE ---
Valores únicos: ['DRIVER' 'DRIVERLESS' 'PARKED' 'DISABLED VEHICLE' 'NON-CONTACT VEHICLE'
 nan]
Cantidad de nulos: 19
Tipo de dato: object

--- NUM_PASSENGERS ---
Valores únicos: <IntegerArray>
[ 2,  0,  1,  3,  6,  4,  7,  5, 10, 15, 11, 30,  8, 13, 14,  9, 16, 33, 25,
 28, 35, 12, 22, 32, 39, 38, 20, 27, 23, 40, 34, 19, 26, 52, 24, 17, 29, 46,
 43, 18, 31, 42, 21, 36, 37, 59]
Length: 46, dtype: Int64
Cantidad de nulos: 0
Tipo de dato: Int64

--- VEHICLE_YEAR ---
Valores únicos: <IntegerArray>
[2016, 2025, 2018, 2006, 2021, <NA>, 2007, 2012, 2022, 2014, 2015, 2004, 2024,
 2023, 2020, 2011, 2009, 2001, 2019, 2017, 2005, 2010, 2003, 2000, 2008, 2013,
 1999, 1989, 2026, 1998, 1996, 1995, 2002, 1997, 1992, 1900, 1994, 1986, 1985,
 1987, 1978, 1993, 1976, 1991, 1981, 1971, 1988, 1968, 1907, 1975]
Length: 50, dtype: Int64
Cantidad de nulos: 313317
Tipo de dato: Int64

--- MAKE ---
Valores únicos: <StringArray>
[                                               'JEEP',
                                               'HONDA',
                                              'TOYOTA',
                                                'FORD',
                                                 'BMW',
                                                  <NA>,
 'PETERBILT MOTORS COMPANY (DIVISION OF PACCAR, INC.)',
                                                'AUDI',
                                              'NISSAN',
                                           'CHEVROLET',
                                               'ACURA',
                                                 'KIA',
                                               'MAZDA',
                                              'SUBARU',
                                               'LEXUS',
                                               'DODGE',
                    'GENERAL MOTORS CORPORATION (GMC)',
                                             'LINCOLN',
                                               'TESLA',
                                             'HYUNDAI',
                                               'BUICK',
                                       'MERCEDES-BENZ',
                            'FREIGHTLINER CORPORATION',
                                          'VOLKSWAGEN',
                               'MELROSE TRACTOR TRUCK',
                                           'NEW FLYER',
                                               'VOLVO',
                                              'JAGUAR',
                                            'CADILLAC',
                        'KENWORTH MOTOR TRUCK COMPANY',
                                            'INFINITI',
                                            'CHRYSLER',
                                              'RIVIAN',
                                            'NOVA BUS',
                                                'HINO',
                            'THOMAS BUILT BUS COMPANY',
                                          'MITSUBISHI',
                  'MOBILITY, INC., MINNEAPOLIS, MINN.',
                                          'LAND ROVER',
                                               'SMART',
                                                'MINI',
                                   'MACK TRUCKS, INC.',
                     'INTERNATIONAL HARVESTER COMPANY',
   'GIDDINGS MACHINE COMPANY, INC. (FORT COLLINS, CO)',
                   'AMTRAN CORPORATION (GENSIS BUSES)',
                                               'VESPA',
                   'INTERNATIONAL COACH MANUFACTURING',
                                            'MASERATI',
           'PREVOST CAR / BUS (SAINTE CLAIRE, QUEBEC)',
                                              'SATURN']
Length: 50, dtype: string
Cantidad de nulos: 195870
Tipo de dato: string

--- MODEL ---
Valores únicos: <StringArray>
[                                    'PATRIOT',
                                      'ACCORD',
                                       'CAMRY',
                                     'MUSTANG',
                                    'EXPLORER',
                                  'HIGHLANDER',
                                       'CIVIC',
                                          'X3',
                                          <NA>,
                                     'COMPASS',
 'PETERBILT MOTORS CO., DIVISION PACCAR, INC.',
                                          'Q5',
                                      '200 SX',
                                      'ESCAPE',
                                      'MALIBU',
                                         'ADX',
                                      'SENTRA',
                                    'SPORTAGE',
                                        'CX-5',
                                     'IMPREZA',
                                        '328I',
                                   'SILVERADO',
                                          'RX',
                                     'JOURNEY',
                                     'COROLLA',
                                         'MKS',
                                    'CHEROKEE',
                                       'PRIUS',
                                       'CROWN',
                                        'CR-V',
                                     'ELEMENT',
                                        'RAV4',
                                        'SOUL',
                                      'SIERRA',
                                      'MURANO',
                                          'A7',
                               'GRAND CARAVAN',
                                        'HR-V',
                                     'MODEL 3',
                               'RAM PROMASTER',
                                      'TUCSON',
                                         'MKX',
                                     'EQUINOX',
                                       'FOCUS',
                                    'LACROSSE',
                                        'C300',
                                         'GLC',
                                      'ALTIMA',
                                        'JUKE',
                                    'RENEGADE']
Length: 50, dtype: string
Cantidad de nulos: 385629
Tipo de dato: string

--- VEHICLE_TYPE ---
Valores únicos: <StringArray>
[                             'PASSENGER',
                                     <NA>,
                'TRACTOR W/ SEMI-TRAILER',
            'SPORT UTILITY VEHICLE (SUV)',
                           'VAN/MINI-VAN',
                                 'PICKUP',
                      'BUS OVER 15 PASS.',
                    'TRUCK - SINGLE UNIT',
                     'BUS UP TO 15 PASS.',
                'MOTORCYCLE (OVER 150CC)',
         'SINGLE UNIT TRUCK WITH TRAILER',
             'MOPED OR MOTORIZED BICYCLE',
             'OTHER VEHICLE WITH TRAILER',
               'TRACTOR W/O SEMI-TRAILER',
 'RECREATIONAL OFF-HIGHWAY VEHICLE (ROV)',
   '3-WHEELED MOTORCYCLE (2 REAR WHEELS)',
              'ALL-TERRAIN VEHICLE (ATV)',
                         'FARM EQUIPMENT',
                              'AUTOCYCLE',
                     'MOTOR DRIVEN CYCLE',
                             'SNOWMOBILE']
Length: 21, dtype: string
Cantidad de nulos: 203862
Tipo de dato: string

In [217]:
vehicle.shape

(1986131, 11)

In [218]:
vehicle_models = df[['VEHICLE_ID', 'VEHICLE_USE', 'VEHICLE_CONFIG', 'CARGO_BODY_TYPE']]
vehicle_models.head(5)

   VEHICLE_ID VEHICLE_USE VEHICLE_CONFIG CARGO_BODY_TYPE
0   2077774.0    PERSONAL            NaN             NaN
1   2077769.0    PERSONAL            NaN             NaN
2   2077772.0       OTHER            NaN             NaN
3   2077773.0    PERSONAL            NaN             NaN
4   2077770.0    PERSONAL            NaN             NaN

In [219]:
vehicle_models.shape

(2034748, 4)

In [220]:
#VEHICLE_ID
vehicle_models['VEHICLE_ID'] = pd.to_numeric(vehicle_models['VEHICLE_ID'], errors='coerce')
vehicle_models = vehicle_models.dropna(subset=['VEHICLE_ID'])
vehicle_models['VEHICLE_ID'] = vehicle_models['VEHICLE_ID'].astype('Int64')
vehicle_models = vehicle_models.drop_duplicates(subset=['VEHICLE_ID'])

missing_tokens = {
    '', ' ', 'UNKNOWN', 'UNKNOWN/NA', 'UNK',
    'N/A', 'NA', 'NONE', 'NULL', 'NAN',
    'OTHER', 'OTHER (EXPLAIN IN NARRATIVE)',
    'NOT APPLICABLE'
}
for col in ['VEHICLE_USE', 'VEHICLE_CONFIG', 'CARGO_BODY_TYPE']:
    vehicle_models[col] = vehicle_models[col].astype('string')
    vehicle_models[col] = vehicle_models[col].str.upper()
    vehicle_models.loc[vehicle_models[col].isin(missing_tokens), col] = pd.NA

C:\Users\gabon\AppData\Local\Temp\ipykernel_19912\1118437065.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicle_models['VEHICLE_ID'] = pd.to_numeric(vehicle_models['VEHICLE_ID'], errors='coerce')

In [221]:
for col in vehicle_models.columns:
    print(f"\n--- {col} ---")
    print("Valores únicos:", vehicle_models[col].unique()[:30])  # muestra los primeros 10 valores únicos
    print("Cantidad de nulos:", vehicle_models[col].isna().sum())
    print("Tipo de dato:", vehicle_models[col].dtype)

--- VEHICLE_ID ---
Valores únicos: <IntegerArray>
[2077774, 2077769, 2077772, 2077773, 2077770, 2077771, 2077767, 2077768,
 2077782, 2077779, 2077761, 2077753, 2077775, 2077776, 2077749, 2077755,
 2077750, 2077751, 2077756, 2077757, 2077760, 2077764, 2077766, 2077752,
 2077754, 2077742, 2077745, 2077747, 2077733, 2077735]
Length: 30, dtype: Int64
Cantidad de nulos: 0
Tipo de dato: Int64

--- VEHICLE_USE ---
Valores únicos: <StringArray>
[                    'PERSONAL',                           <NA>,
      'COMMERCIAL - MULTI-UNIT',                   'NOT IN USE',
                'TAXI/FOR HIRE',                          'CTA',
                    'TOW TRUCK',                         'FIRE',
     'COMMERCIAL - SINGLE UNIT',                       'POLICE',
             'DRIVER EDUCATION',            'RIDESHARE SERVICE',
                   'SCHOOL BUS',     'CONSTRUCTION/MAINTENANCE',
        'LAWN CARE/LANDSCAPING',                    'AMBULANCE',
      'CAMPER/RV - SINGLE UNIT',                     'MILITARY',
 'CAMPER/RV - TOWED/MULTI-UNIT',                  'AGRICULTURE',
                  'STATE OWNED',                'HOUSE TRAILER',
                 'MASS TRANSIT',                'OTHER TRANSIT']
Length: 24, dtype: string
Cantidad de nulos: 472111
Tipo de dato: string

--- VEHICLE_CONFIG ---
Valores únicos: <StringArray>
[                                 <NA>,                'TRACTOR/SEMI-TRAILER',
                 'UNKNOWN HEAVY TRUCK', 'SINGLE UNIT TRUCK, 2 AXLES, 6 TIRES',
  'SINGLE UNIT TRUCK, 3 OR MORE AXLES',                                 'BUS',
                       'TRUCK/TRAILER',                       'TRUCK/TRACTOR',
                     'TRACTOR/DOUBLES']
Length: 9, dtype: string
Cantidad de nulos: 1969378
Tipo de dato: string

--- CARGO_BODY_TYPE ---
Valores únicos: <StringArray>
[              <NA>, 'VAN/ENCLOSED BOX',              'BUS',
          'FLATBED',   'GARBAGE/REFUSE',             'DUMP',
   'CONCRETE MIXER', 'AUTO TRANSPORTER',             'TANK']
Length: 9, dtype: string
Cantidad de nulos: 1973768
Tipo de dato: string

In [222]:
vehicle_maneuvers = df[['VEHICLE_ID', 'MANEUVER']]
vehicle_maneuvers.head(5)

   VEHICLE_ID                   MANEUVER
0   2077774.0             STRAIGHT AHEAD
1   2077769.0                      OTHER
2   2077772.0             STRAIGHT AHEAD
3   2077773.0  AVOIDING VEHICLES/OBJECTS
4   2077770.0             STRAIGHT AHEAD

In [223]:
#VEHICLE_ID
vehicle_maneuvers['VEHICLE_ID'] = pd.to_numeric(vehicle_maneuvers['VEHICLE_ID'], errors='coerce')
vehicle_maneuvers = vehicle_maneuvers.dropna(subset=['VEHICLE_ID'])
vehicle_maneuvers['VEHICLE_ID'] = vehicle_maneuvers['VEHICLE_ID'].astype('Int64')
vehicle_maneuvers = vehicle_maneuvers.drop_duplicates(subset=['VEHICLE_ID'])

missing_tokens = {
    '', ' ', 'UNKNOWN', 'UNKNOWN/NA', 'UNK',
    'N/A', 'NA', 'NULL', 'NAN',
    'OTHER', 'OTHER (EXPLAIN IN NARRATIVE)',
    'NOT APPLICABLE'
}
for col in ['MANEUVER']:
    vehicle_maneuvers[col] = vehicle_maneuvers[col].astype('string')
    vehicle_maneuvers[col] = vehicle_maneuvers[col].str.upper()
    vehicle_maneuvers.loc[vehicle_maneuvers[col].isin(missing_tokens), col] = pd.NA

C:\Users\gabon\AppData\Local\Temp\ipykernel_19912\1062166781.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicle_maneuvers['VEHICLE_ID'] = pd.to_numeric(vehicle_maneuvers['VEHICLE_ID'], errors='coerce')

In [224]:
for col in vehicle_maneuvers.columns:
    print(f"\n--- {col} ---")
    print("Valores únicos:", vehicle_maneuvers[col].unique()[:30])  # muestra los primeros 10 valores únicos
    print("Cantidad de nulos:", vehicle_maneuvers[col].isna().sum())
    print("Tipo de dato:", vehicle_maneuvers[col].dtype)

--- VEHICLE_ID ---
Valores únicos: <IntegerArray>
[2077774, 2077769, 2077772, 2077773, 2077770, 2077771, 2077767, 2077768,
 2077782, 2077779, 2077761, 2077753, 2077775, 2077776, 2077749, 2077755,
 2077750, 2077751, 2077756, 2077757, 2077760, 2077764, 2077766, 2077752,
 2077754, 2077742, 2077745, 2077747, 2077733, 2077735]
Length: 30, dtype: Int64
Cantidad de nulos: 0
Tipo de dato: Int64

--- MANEUVER ---
Valores únicos: <StringArray>
[                    'STRAIGHT AHEAD',                                 <NA>,
          'AVOIDING VEHICLES/OBJECTS',                             'PARKED',
             'ENTER FROM DRIVE/ALLEY',                       'TURNING LEFT',
                             'U-TURN',                            'BACKING',
               'SLOW/STOP IN TRAFFIC',                      'TURNING RIGHT',
       'LEAVING TRAFFIC LANE TO PARK',                 'PASSING/OVERTAKING',
                'STARTING IN TRAFFIC', 'ENTERING TRAFFIC LANE FROM PARKING',
                     'CHANGING LANES',                            'MERGING',
             'PARKED IN TRAFFIC LANE',              'SKIDDING/CONTROL LOSS',
                  'DRIVING WRONG WAY',                         'DRIVERLESS',
                          'DIVERGING',                           'DISABLED',
                     'TURNING ON RED',                'NEGOTIATING A CURVE',
             'SLOW/STOP - RIGHT TURN',              'SLOW/STOP - LEFT TURN',
            'SLOW/STOP - LOAD/UNLOAD']
Length: 27, dtype: string
Cantidad de nulos: 183215
Tipo de dato: string

In [225]:
vehicle_violations = df[['VEHICLE_ID', 'CMRC_VEH_I', 'EXCEED_SPEED_LIMIT_I', 'HAZMAT_PRESENT_I', 'VEHICLE_DEFECT']]
vehicle_violations.head(5)

   VEHICLE_ID CMRC_VEH_I EXCEED_SPEED_LIMIT_I HAZMAT_PRESENT_I VEHICLE_DEFECT
0   2077774.0        NaN                  NaN              NaN        UNKNOWN
1   2077769.0        NaN                  NaN              NaN           NONE
2   2077772.0          N                  NaN              NaN           NONE
3   2077773.0        NaN                  NaN              NaN           NONE
4   2077770.0        NaN                  NaN              NaN        UNKNOWN

In [226]:
#VEHICLE_ID
vehicle_violations['VEHICLE_ID'] = pd.to_numeric(vehicle_violations['VEHICLE_ID'], errors='coerce')
vehicle_violations = vehicle_violations.dropna(subset=['VEHICLE_ID'])
vehicle_violations['VEHICLE_ID'] = vehicle_violations['VEHICLE_ID'].astype('Int64')
vehicle_violations = vehicle_violations.drop_duplicates(subset=['VEHICLE_ID'])

boolean_map = {'Y': True, 'N': False}

# CMRC
vehicle_violations['CMRC_VEH_I'] = (
    vehicle_violations['CMRC_VEH_I']
    .map(boolean_map)
    .astype('boolean')
)

# EXCEED SPEED LIMIT
vehicle_violations['EXCEED_SPEED_LIMIT_I'] = (
    vehicle_violations['EXCEED_SPEED_LIMIT_I']
    .map(boolean_map)
    .astype('boolean')
)

# HAZMAT
vehicle_violations['HAZMAT_PRESENT_I'] = (
    vehicle_violations['HAZMAT_PRESENT_I']
    .replace('U', pd.NA)
    .map(boolean_map)
    .astype('boolean')
)

C:\Users\gabon\AppData\Local\Temp\ipykernel_19912\86585661.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicle_violations['VEHICLE_ID'] = pd.to_numeric(vehicle_violations['VEHICLE_ID'], errors='coerce')

In [227]:
for col in vehicle_violations.columns:
    print(f"\n--- {col} ---")
    print("Valores únicos:", vehicle_violations[col].unique()[:30])  # muestra los primeros 10 valores únicos
    print("Cantidad de nulos:", vehicle_violations[col].isna().sum())
    print("Tipo de dato:", vehicle_violations[col].dtype)

--- VEHICLE_ID ---
Valores únicos: <IntegerArray>
[2077774, 2077769, 2077772, 2077773, 2077770, 2077771, 2077767, 2077768,
 2077782, 2077779, 2077761, 2077753, 2077775, 2077776, 2077749, 2077755,
 2077750, 2077751, 2077756, 2077757, 2077760, 2077764, 2077766, 2077752,
 2077754, 2077742, 2077745, 2077747, 2077733, 2077735]
Length: 30, dtype: Int64
Cantidad de nulos: 0
Tipo de dato: Int64

--- CMRC_VEH_I ---
Valores únicos: <BooleanArray>
[<NA>, False, True]
Length: 3, dtype: boolean
Cantidad de nulos: 1948384
Tipo de dato: boolean

--- EXCEED_SPEED_LIMIT_I ---
Valores únicos: <BooleanArray>
[<NA>, False, True]
Length: 3, dtype: boolean
Cantidad de nulos: 1983729
Tipo de dato: boolean

--- HAZMAT_PRESENT_I ---
Valores únicos: <BooleanArray>
[<NA>, False, True]
Length: 3, dtype: boolean
Cantidad de nulos: 1972611
Tipo de dato: boolean

--- VEHICLE_DEFECT ---
Valores únicos: ['UNKNOWN' 'NONE' 'TIRES' 'OTHER' 'LIGHTS' 'WHEELS' 'ENGINE/MOTOR'
 'FUEL SYSTEM' 'BRAKES' 'WINDOWS' 'STEERING' 'SIGNALS' 'SUSPENSION'
 'CARGO' 'TRAILER COUPLING' 'RESTRAINT SYSTEM' 'EXHAUST']
Cantidad de nulos: 0
Tipo de dato: object

In [ ]:
vehicle.to_csv('vehicles.csv', index=False)
vehicle_models.to_csv('vehicle_specs.csv', index=False)
vehicle_maneuvers.to_csv('vehicle_maneuvers.csv', index=False)
vehicle_violations.to_csv('vehicle_violations.csv', index=False)